body {
    padding-left: 100px;
    color: black;
    background-color: antiquewhite;
}

div#navbar {
 height: 100px;
 width: 2000px;
 background-repeat:repeat-x;
}

div#navbar ul {
	line-height: 40px;	
	font-size: 24px;
	margin: 0px;
 	padding: 0px;
}

div#navbar li {
 list-style-type: none;
 display: inline;
 padding-right: 15px;
}

div#navbar li a {
 text-decoration: none;
}

div#navbar li a:hover{
 color: gray;
 border-bottom: dashed 1px;
}

label {
  display: block;
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 10px 30px 10px 30px;
  border-bottom: 1px solid #aaa;
}

h1{
	color:lightseagreen;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
    margin-top: 50px;
}


h3{
	color:gray;

}

footer{
	width:1000px;
    color: antiquewhite;
	border-top: dotted 1px;
}

p{
	width: 600px;
}

quote{
    color: gray;
    width: 200px;
    font-size: 15px;
    vertical-align: -100px;
    text-align: center;
}


l2{
    color:#1a73d9;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

img#i1{
    height: 500px;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

img#i2{
    display: block;
    height: 420px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
;
}